<%= render partial: 'layouts/navbar' %>

<section class="hero">
  <div class="overlay">
  </div>
</section>

<section class="mission">
  <h1>Our Mission</h1>

  <p>
    <b>Focus Haitian Music Inc. FOHAMU</b>, a charitable, tax-exempt, 501(c)(3) organization,
    is dedicated to promoting empowerment of people through education, protection of the
    environment, and respect for cultural diversity.<br><br>

   Our institution provides affordable, educational, and outdoor recreational
   activities in a safe, clean, and inviting environment for people of all ages
   through sound business and management practices.  We are committed to achieving
   long lasting change that transforms people's lives and brightens Haiti's future.<br><br>
  </p>

  <h1>Our Work</h1>

  <p>
     Through our programs, we develop individuals with strong leadership qualities and
     innovative mindsets. We are working to reduce poverty and injustice in disadvantaged
     areas and promote democratic values, social change and free expression.<br><br>

     We believe that social change and progress depend on the ability of well-educated
     individuals to transfer their culture heritage and knowledge to future generations.<br><br>

     In this regard, <b>FOHAMU</b> is committed to providing the educational and cultural
     support necessary for the formation of the next generation if Haitian leadership,
     whom will become globally competitive and cognizant of the world conjuncture.<br><br>

     We support construction of schools, water purification and viable community
     events in the United States and abroad.
  </p>
</section>


<section class="founders">
  <div class="founder herbert">

    <div class="header">
      <div class="photo">
        <%= image_tag "herbert_joseph.jpg", class: "founder-img" %>
      </div>
    </div>


    <div class="education">
      <div class="name">
        <h2>Herbert Joseph</h2>
      </div>


      <div class="logo">
        <%= image_tag 'ccny.png' %>
      </div>

      <div class="degree">
        <h3 class="school-name">The City College of New York</h3>
        <h3>
          <b>Master's</b> Degree in <b>Business Administration and Management</b>
        </h3>
      </div>
    </div>

    <div class="description">
      <p>
        After 15 years as an educator at high schools within NYC's public education
        system, Herbert turns his attention back to his origins: Haiti. Choosing
        to teach within NYC's  economically challenged areas, he found personal fulfillment
        when he noticed positive change in the students.<br><br>


        In the United States, poor students have free access books, tech and science labs,
        free breakfast and lunches, free transportation cards, free uniforms (if it is mandated),
        well-trained teachers and administrators, etc. Yet, they have to be coerced
        to attend school.<br><br>

        He noticed that in Haiti, most youngsters are dreaming of such services,
        they have strong dreams and do want to succeed. Students are marching or
        begging for teachers and labs and cafeterias. Give them them the tools,
        and they will amaze the world!

        Since 2000, he has worked to his life's work operating as CEO at
        <b>Focus Haitian Music (FOHAMU)</b>, alongside his brother,
        Jean Joseph.
      </p>
    </div>
  </div>
  <div class="founder jean">

    <div class="header">
      <div class="photo">
        <%= image_tag "jean_2.jpg", class: "founder-img" %>
      </div>
    </div>


    <div class="education">
      <div class="name">
        <h2>Jean Joseph</h2>
      </div>


      <div class="logo">
        <%= image_tag 'ccny.png' %>
      </div>

      <div class="degree">
        <h3 class="school-name">The City College of New York</h3>
        <h3>
          <b>Master's</b> Degree in <b>Education Technology</b>
        </h3>
      </div>


    </div>

    <div class="description">
      <p>
        Since 2000, Jean has been both the Principal and Educator at
        <b>Institution Chrétienne d'Haïti (ICDH)</b>. He oversaw the construction
        and formation of the 5-story educational complex in Carrefour, Haiti.
        Even after the disatrous 2010 earthquake, which left the building destroyed
        and incurred personal losses and injury, his dedication to educating and providing
        support to the Haitian community has only grown stronger.<br><br>


        Jean has rebuilt the school in 2011, and continues to oversee the growth & development
        of not only the students, but of the school staff and adults in the local community.
        He sets the standard of education above and beyond Haitian standards, to give students
        the opportunity to excel internationally.<br><br>

        As Vice Present of FBLA Chapter Haiti, he personally prepares his students to
        excel in the competitive events held in America. He ensures that the students
        are equipped with state-of-the-art technology neede in ther classes and gives
        his staff all the tools and techniques necessary to effectively educate. All
        while ensuring a safe and secure environment for everyone involved.
      </p>
    </div>
  </div>

</section>


<section class="contact-us">
  <form id="contact" action="" method="post">
    <h3>Contact Us</h3>

    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>

    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>

    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>

    <fieldset>
      <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
    </fieldset>

    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</section>
