<%= render partial: 'layouts/navbar' %>

<section class="video-banner">
  <%= video_tag 'fbla_banner.webm', autoplay: :autoplay, loop: :loop, muted: :muted %>

  <div class="overlay"></div>

  <div class="brand-banner">
    <%= image_tag 'FBLA-logo-only.png' %>
    <h2>
      FBLA Haiti is developing the next generation of ethical business leaders
    </h2>
  </div>
</section>

<section class="rundown">
  <div class="panels">
    <div class="panel">
      <div class="title">
        <div class="icon">
          <%= inline_svg 'briefcase.svg' %>
        </div>

        <h1>Business</h1>
      </div>
    </div>
    <div class="panel">
      <div class="title">
        <div class="icon">
          <%= inline_svg 'Handshake.svg' %>
        </div>
        <h1>Networking</h1>
      </div>
    </div>
    <div class="panel">
      <div class="title">
        <div class="icon">
          <%= inline_svg 'college.svg' %>
        </div>
        <h1>College</h1>
      </div>
    </div>
    <div class="panel">
      <div class="title">
        <div class="icon">
          <%= inline_svg 'lightbulb.svg' %>
        </div>
        <h1>Ideas</h1>
      </div>
    </div>
    <div class="panel">
      <div class="title">
        <div class="icon">
          <%= inline_svg 'travel.svg', class: 'travel' %>
        </div>
        <h1>Travel</h1>
      </div>
    </div>
    <div class="panel">
      <div class="title travel">
        <div class="icon">
          <%= inline_svg 'globe.svg' %>
        </div>
        <h1>Global Citizen</h1>
      </div>
    </div>
  </div>
</section>


<div class="brand-banner">
  <h2>
    <%= image_tag 'flag-for-haiti.png', class: 'flag' %>
    Representing Haiti since 2011
    <%= image_tag 'flag-for-haiti.png', class: 'flag' %> 
  </h2>
</div>
