<%= render partial: 'layouts/navbar' %>

<section class="video-banner">
  <%= video_tag 'fbla_banner.webm', autoplay: :autoplay, loop: :loop, muted: :muted %>

  <div class="overlay"></div>

  <div class="brand-banner">
    <%= image_tag 'FBLA-logo-only.png' %>
    <h2>
      FBLA Haiti is developing the next generation of ethical business leaders
    </h2>
  </div>
</section>

<section class="rundown">
  <div class="panels">
    <div class="panel">
      <div class="title">
        <div class="icon">
          <%= inline_svg_tag 'briefcase.svg' %>
        </div>

        <h1>Business</h1>
      </div>

      <div class="description">
        <p>
          FBLA-PBL inspires and prepares students to become community-minded business
          leaders in a global society through relevant career preparation and leadership
          experiences.<br><br>

          Each year, events is a wide variety of topics are held that challenge and develop
          key skills and traits necessary for a successful foray into the modern corporate
          ecosystem.
        </p>
      </div>
    </div>

    <div class="panel">
      <div class="title">
        <div class="icon">
          <%= inline_svg_tag 'Handshake.svg' %>
        </div>
        <h1>Networking</h1>
      </div>
      <div class="description">
        <p>
          As a large-scale international convention of business-minded students and staff,
          the opportunities to make lasting connections are enormous.<br><br>

          By competing in events or engaging in social activity, students often come across
          like-minded peers. These connections often translate into a useful network for
          our students in their future endevours.
        </p>
      </div>
    </div>

    <div class="panel">
      <div class="title">
        <div class="icon">
          <%= inline_svg_tag 'college.svg' %>
        </div>
        <h1>College</h1>
      </div>
      <div class="description">
        <p>
          By learning to excel and thrive in an international scholastic environment,
          they are prepared for studying abroad for collegiate education.<br><br>

          The FBLA experience exposes them to international standards of scholastic
          excellence. Our students come away with a strong sense of purpose,
          which tranlates into certainty on their selected fields of study.>
        </p>
      </div>
    </div>

    <div class="panel">
      <div class="title">
        <div class="icon">
          <%= inline_svg_tag 'lightbulb.svg' %>
        </div>
        <h1>Ideas</h1>
      </div>
      <div class="description">
        <p>
          FBLA remains at the precipice of modern entrepenuership and the skills and
          techniques involved.<br><br>

          Our students are exposed to new ways of thinking and often lead to the
          generation of new startup and business ideas. By leveraging what they learn,
          they become aware of new ways to form profitable businesses, either digitally
          or in their local communities.
        </p>
      </div>
    </div>

    <div class="panel">
      <div class="title travel">
        <div class="icon">
          <%= inline_svg_tag 'travel.svg', class: 'travel' %>
        </div>
        <h1>Travel</h1>
      </div>

      <div class="description">
        <p>
          All necessary US visas, hotel
          reservations, and airfare are secured on the behalf our participants.
          For many of our students, this is their first time leaving their country.<br><br>

          We expose our students to borders beyond Haiti and equip them with the
          knowledge of experience of travelling safe and smart.
        </p>
      </div>
    </div>

    <div class="panel">
      <div class="title">
        <div class="icon">
          <%= inline_svg_tag 'globe.svg' %>
        </div>
        <h1>Global Citizen</h1>
      </div>

      <div class="description">
        <p>
          FBLA serves as a way to induct our students into the global community.
          They learn to adopt a global mindset, which grants them the ability to
          generate more opportunities by raising the possibilities.<br><br>

          By being vigilant of the social, political, and economic states of the
          Western powers, our students are equipped to adapt to change and identify
          budding opportunity when they see it.
        </p>
      </div>
    </div>

  </div>
</section>


<div class="brand-banner">
  <h2>
    <%= image_tag 'flag-for-haiti.png', class: 'flag' %>
    Representing Haiti since 2011
    <%= image_tag 'flag-for-haiti.png', class: 'flag' %>
  </h2>
</div>



<section class="gallery">
  <div class=gallery-modal>
    <div class="overlay"></div>

    <div class="close">
      <i class="fas fa-times-circle"></i>
    </div>

    <div class="glide-modal">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide gallery-item">
            <%= video_tag 'fbla-awards.webm', controls: true %>
            <i class="fas fa-play-circle"></i>
          </li>

          <li class="glide__slide gallery-item">
            <%= video_tag 'fbla_entry.webm', controls: true %>
            <i class="fas fa-play-circle"></i>

          <li class="glide__slide gallery-item">
            <%= video_tag 'fbla-audience.webm', controls: true %>
            <i class="fas fa-play-circle"></i>
          </li>


          <li class="glide__slide gallery-item">
            <%= image_tag 'FBLA_networking.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-suits.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-audience.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-gang.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-unity.jpg' %>
          </li>


          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-huddle.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-power.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-cert.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-attire.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-ladies.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-coke.jpg' %>
          </li>


          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-travel.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-explore.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-leisure-1.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-leisure.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'fbla-jean.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'FBLA-banner.jpg' %>
          </li>

        </ul>
      </div>

      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
          <i class="fas fa-caret-left"></i>
        </button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
          <i class="fas fa-caret-right"></i>
        </button>
      </div>

      <div class="glide__bullets" data-glide-el="controls[nav]">
       <button class="glide__bullet" data-glide-dir="=0"></button>
       <button class="glide__bullet" data-glide-dir="=3"></button>
       <button class="glide__bullet" data-glide-dir="=6"></button>
     </div>
    </div>
  </div>

  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide gallery-item">
          <%= video_tag 'fbla-awards.webm' %>
          <i class="fas fa-play-circle"></i>
        </li>

        <li class="glide__slide gallery-item">
          <%= video_tag 'fbla_entry.webm' %>
          <i class="fas fa-play-circle"></i>

        <li class="glide__slide gallery-item">
          <%= video_tag 'fbla-audience.webm' %>
          <i class="fas fa-play-circle"></i>
        </li>


        <li class="glide__slide gallery-item">
          <%= image_tag 'FBLA_networking.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-suits.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-audience.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-gang.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-unity.jpg' %>
        </li>


        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-huddle.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-power.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-cert.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-attire.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-ladies.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-coke.jpg' %>
        </li>


        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-travel.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-explore.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-leisure-1.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-leisure.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'fbla-jean.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'FBLA-banner.jpg' %>
        </li>



      </ul>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        <i class="fas fa-caret-left"></i>
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        <i class="fas fa-caret-right"></i>
      </button>
    </div>

    <div class="glide__bullets" data-glide-el="controls[nav]">
     <button class="glide__bullet" data-glide-dir="=0"></button>
     <button class="glide__bullet" data-glide-dir="=3"></button>
     <button class="glide__bullet" data-glide-dir="=6"></button>
   </div>
  </div>
</section>
