<%= render partial: 'layouts/navbar' %>

<section class="hero">
  <div class="overlay">

    <h1>Institution Chrétienne d'Haïti</h1>
  </div>
</section>

<section class="tenets">
  <div class="tenet-list">
    <div class="tenet pwa-element pwa-borders-leftTopRightBottom graduates">
      <div class="title">
        <div class="icon">
          <%= inline_svg_tag 'graduate.svg' %>
        </div>
        <h1>Excellence</h1>
      </div>
      <div class="description">
        <p>
          Our track record for scholastic excellence is stellar among Haitian
          schools. We have steadily achieved 100% success rates for Haitian state
          examinations across all grade levels.<br><br>

          Setting our sights higher, we aspire to excel at an international
          scale. Our curriculum is being upgraded with Advanced Placement
          classes to ready students for a collegiate environment abroad or
          domestically.
        </p>
      </div>
    </div>

    <div class="tenet pwa-element pwa-borders-leftTopRightBottom language">

      <div class="title">
        <div class="icon">
          <%= inline_svg_tag 'language.svg' %>
        </div>
        <h1>Language Studies</h1>
      </div>

      <div class="description">
        <p>
          We offer a bilingual program centered around mastery of the French and
          English languages. We pride ourselves on our English training, as we
          work to prepare our students to thrive in Western civilization.<br><br>

          As it is the language of our country, Haitian Creole is the main
          language used in our courses. We also offer Spanish courses, being next-door
          neighbors to the Dominican Republic.
        </p>
      </div>
    </div>

    <div class="tenet pwa-element pwa-borders-leftTopRightBottom development">
      <div class="title">
        <div class="icon">
          <%= inline_svg_tag 'teacher.svg' %>
        </div>
        <h1>Professional Development</h1>
      </div>
      <div class="description">
        <p>
          ICDH hosts interdisciplinary training courses for school staff to keep
          teachers abreast on the latest techniques and equipment for education.
          <br><br>

          Topics range from curriculum updates and teaching techniques to
          software skills such as utilizing online grading systems, recording
          video courses, hosting online lessons, using SMART boards, and
          effective use of slideshows and text editors.<br><br>

          Our program is open for free to school staff from other schools, with
          the goal of raising the overall bar of Haiti's education quality.
        </p>
      </div>
    </div>

    <div class="tenet pwa-element pwa-borders-leftTopRightBottom tech">
      <div class="title">
        <div class="icon">
          <%= inline_svg_tag 'tablet.svg' %>
        </div>
        <h1>Technology</h1>
      </div>
      <div class="description">
        <p>
          We are outfitted with laptops and tablets for use in our lessons.
          Studies have shown that overuse of technology in schools can dull
          student comprehension, a risk that we take very seriously.<br><br>

          While we encourage the usage of laptops and tablets in our lessons,
          we are sure to enact strict parental control and security measures on
          the devices to ensure focus on the task at hand. Screen-sharing software
          is used to monitor every student's screen, as well.
        </p>
      </div>
    </div>

    <div class="tenet pwa-element pwa-borders-leftTopRightBottom security">
      <div class="title">
        <div class="icon">
          <%= inline_svg_tag 'security.svg' %>
        </div>
        <h1>Security</h1>
      </div>
      <div class="description">
        <p>
          We treat the safety of our students and faculty as a primary priority.
          Our campus is equipped with state-of-the-art security cameras and
          bio-metric scanners. We also employ school security guards to patrol
          the premises and maintain peace & order.<br><br>

          We pool a great deal of resources into our school, which is visible to
          the surrounding community and often leads to being targeted for theft or
          even kidnapping. We refuse to be deterred by a few bad apples, and
          continue to ensure the safety of students, faculty, and equipment.
        </p>
      </div>
    </div>

    <div class="tenet pwa-element pwa-borders-leftTopRightBottom k-12">
      <div class="title">
        <div class="icon">
          <%= image_tag 'k12.png' %>
        </div>
        <h1>K-12</h1>
      </div>
      <div class="description">
        <p>
          We support primary and secondary education. Since beginning at
          kindergarten to 2nd grade in 2000, we've increased our grade by one
          each year.<br><br>

          Our primary school is renown for fostering prodigal growth in our young
          ones. Students whom start with us through primary and continue through
          secondary are our most successful. They learn English at an earlier age,
          and benefit from the strong foundation built in their primary school
          education.<br><br>

          Our secondary education is quite challenging and formidable. At grades
          6-8, we prepare our students to excel at a high school level curriculum.
          We prepare our students for state exams, but are sure to push beyond the
          boundary. For high school, we are in college preparation mode. We engage
          our students in courses necessary to excel at SAT/ACT exams. Our career
          guidance program helps our high school students prepare for their
          futures and aid them in planning ahead.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="gallery">
  <div class=gallery-modal>
    <div class="overlay"></div>

    <div class="close">
      <i class="fas fa-times-circle"></i>
    </div>

    <div class="glide-modal">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide gallery-item">
            <%= image_tag 'icdh.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'icdh-2.png' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'jean_teaching.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'lady_teacher2.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'assembly2.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'auditorium.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'class2.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'class.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'class_session.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'students_chairs.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'students_chairs2.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'laptop_class.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'herbert_teaching.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'students_chairs3.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'kids_laptop.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'courtyard.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'courtyard_group.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'prof_dev.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'adult_learning.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'prof_dev2.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'herbert_jean_students.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'bookbag_student.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'field_trip2.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'jean_class.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'students_smile.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'student_dance.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'jean_speaking.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'herbert_and_graduates.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'diploma_ladies.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'lady_grads.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'diplomas.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'student_board.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'lunch_icdh.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'assembly.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'icdh_seated.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'classroom_kids.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'student_group.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'culinary.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'culinary2.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'culinary3.jpg' %>
          </li>

          <li class="glide__slide gallery-item">
            <%= image_tag 'culinary4.jpg' %>
          </li>


          <li class="glide__slide gallery-item">
            <%= image_tag 'culinary6.jpg' %>
          </li>

        </ul>
      </div>

      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
          <i class="fas fa-caret-left"></i>
        </button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
          <i class="fas fa-caret-right"></i>
        </button>
      </div>

      <div class="glide__bullets" data-glide-el="controls[nav]">
       <button class="glide__bullet" data-glide-dir="=0"></button>
       <button class="glide__bullet" data-glide-dir="=3"></button>
       <button class="glide__bullet" data-glide-dir="=6"></button>
       <button class="glide__bullet" data-glide-dir="=9"></button>
       <button class="glide__bullet" data-glide-dir="=12"></button>
       <button class="glide__bullet" data-glide-dir="=15"></button>
       <button class="glide__bullet" data-glide-dir="=18"></button>
       <button class="glide__bullet" data-glide-dir="=21"></button>
       <button class="glide__bullet" data-glide-dir="=24"></button>
       <button class="glide__bullet" data-glide-dir="=27"></button>
       <button class="glide__bullet" data-glide-dir="=30"></button>
       <button class="glide__bullet" data-glide-dir="=33"></button>
       <button class="glide__bullet" data-glide-dir="=36"></button>
       <button class="glide__bullet" data-glide-dir="=39"></button>
     </div>
    </div>
  </div>

  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide gallery-item">
          <%= image_tag 'icdh.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'icdh-2.png' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'jean_teaching.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'lady_teacher2.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'assembly2.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'auditorium.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'class2.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'class.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'class_session.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'students_chairs.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'students_chairs2.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'laptop_class.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'herbert_teaching.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'students_chairs3.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'kids_laptop.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'courtyard.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'courtyard_group.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'prof_dev.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'adult_learning.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'prof_dev2.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'herbert_jean_students.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'bookbag_student.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'field_trip2.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'jean_class.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'students_smile.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'student_dance.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'jean_speaking.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'herbert_and_graduates.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'diploma_ladies.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'lady_grads.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'diplomas.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'student_board.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'lunch_icdh.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'assembly.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'icdh_seated.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'classroom_kids.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'student_group.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'culinary.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'culinary2.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'culinary3.jpg' %>
        </li>

        <li class="glide__slide gallery-item">
          <%= image_tag 'culinary4.jpg' %>
        </li>


        <li class="glide__slide gallery-item">
          <%= image_tag 'culinary6.jpg' %>
        </li>

      </ul>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        <i class="fas fa-caret-left"></i>
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        <i class="fas fa-caret-right"></i>
      </button>
    </div>

    <div class="glide__bullets" data-glide-el="controls[nav]">
     <button class="glide__bullet" data-glide-dir="=0"></button>
     <button class="glide__bullet" data-glide-dir="=3"></button>
     <button class="glide__bullet" data-glide-dir="=6"></button>
     <button class="glide__bullet" data-glide-dir="=9"></button>
     <button class="glide__bullet" data-glide-dir="=12"></button>
     <button class="glide__bullet" data-glide-dir="=15"></button>
     <button class="glide__bullet" data-glide-dir="=18"></button>
     <button class="glide__bullet" data-glide-dir="=21"></button>
     <button class="glide__bullet" data-glide-dir="=24"></button>
     <button class="glide__bullet" data-glide-dir="=27"></button>
     <button class="glide__bullet" data-glide-dir="=30"></button>
     <button class="glide__bullet" data-glide-dir="=33"></button>
     <button class="glide__bullet" data-glide-dir="=36"></button>
     <button class="glide__bullet" data-glide-dir="=39"></button>
   </div>
  </div>
</section>
