<%= render partial: 'layouts/navbar' %>

<section class="select-donation">
  <div class="overlay"></div>

  <div class=donation-panel>
    <h1>Donate</h1>

    <%= form_tag(donate_preview_path, method: :GET) do %>
      <div class="options">
        <div class="option one-time">
          <div class="header">
            <h2>One-Time</h2>

            <div class="icon">
              <%= image_tag "relieved_face.gif", alt: 'Thanks for your one-time donation. We appreciate your help with empowering our Haitain youth!' %>
            </div>
          </div>
          <%= radio_button_tag 'donation[donation_type]', 'one_time' %>

          <div class="form hidden">
            <div class="amount">
              <%= number_field_tag 'donation[one_time_price]', 10, min: 10 %>
              <%= currency_select('donation', 'one_time_currency', ['USD', 'EUR', 'CAD']) %>
            </div>
          </div>
        </div>

        <div class="option yearly">
          <div class="header">
            <h2>Yearly</h2>

            <div class="icon">
              <%= image_tag "grinning_face_with_smiling_eyes.gif" %>
            </div>
          </div>
          <%= radio_button_tag 'donation[donation_type]', 'yearly' %>

          <div class="form hidden">
            <div class="amount">
              <%= number_field_tag 'doantion[yearly_price]', 40, min: 40 %>
              <%= currency_select('donation', 'yearly_currency', ['USD', 'EUR', 'CAD']) %>
            </div>
          </div>
        </div>

        <div class="option monthly">
          <div class="header">
            <h2>Monthly</h2>

            <div class="icon">
              <%= image_tag "beaming_face_with_smiling_eyes.gif" %>
            </div>
          </div>

          <%= radio_button_tag 'donation[donation_type]', 'monthly' %>
          <div class="form hidden">
            <div class="amount">
              <%= number_field_tag 'donation[monthly_price]', 10, min: 10 %>
              <%= currency_select('donation', 'monthly_currency', ['USD', 'EUR', 'CAD']) %>
            </div>
          </div>
        </div>

      </div>

      <div id="submit-donation-type">
        <%= submit_tag "Next", class: 'donate button pwa-element pwa-borders-borderBottom-reveal' %>
      </div>
    <% end %>
  </div>
</section>
